.shopPage {
  display: flex;
  justify-content: center;

  &__container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 50px;
  }
}

@media screen and (max-width: 900px) {
  .shopPage__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
