.cartDropdown {
  position: absolute;
  top: 100%;
  right: 0;
  border: 1px solid;
  padding: 10px;
  width: 250px;
  max-height: 300px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: default;
  overflow-y: scroll;

  &__items {
    width: 100%;
    padding-bottom: 10px;
  }
}
.button__container {
  margin: 0;
  width: 200px;
}
